@model string

<ul class="list-group">
    <li class="list-group-item">Consectetur adipiscing elit fusce vel.</li>
    <li class="list-group-item">Sapien elit in malesuada semper.</li>
    <li class="list-group-item">Mi, id sollicitudin urna fermentum.</li>
    <li class="list-group-item">Ut fusce varius nisl ac.</li>
    <li class="list-group-item">Ipsum gravida vel pretium tellus.</li>
    <li class="list-group-item">@Model</li>
</ul>

